{% extends 'admin.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Consumo de materiales</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'authentication:dashboard' %}">Tablero</a></li>
            <li class="breadcrumb-item"><a href="{% url 'request:prerequest' %}">Consumo de materiales</a></li>
            <li class="breadcrumb-item active">Consumo de materiales</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <section class="content">
    <div class="container-fluid">
      <form action="{% url 'request:uptake_create' prerequest.pk %}" method="post" >
        {% csrf_token %}
        <div class="row">
          <section class="col-md-12">
            <div class="card card-outline card-success">
              <div class="card-header">
                <h3 class="card-title">CONSUMO DE PRESOLICITUD</h3>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="pnumber">No. de pre solicitud</label>
                      <input type="text" class="form-control" readonly value="{{prerequest.number}}">
                      <input type="hidden" name="prequest_id" value="{{prerequest.pk}}">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="pmembership">No. de afiliación</label>
                      <input type="text" class="form-control" readonly value="{{prerequest.patient.membership}}">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="pnamepatient">Nombres y Apellidos del paciente</label>
                      <input type="text" class="form-control" readonly value="{{prerequest.patient.first_name}} {{prerequest.patient.last_name}}">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="pdiagnosis">Diagnóstico</label>
                      <input type="text" class="form-control" readonly value="{{prerequest.diagnosis}}">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="pprocedure">Procedimiento</label>
                      <input type="text" class="form-control" readonly value="{{prerequest.procedure}}">
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  {% for field in form.visible_fields %}
                    {% if field.name == 'house' %}
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="{{ field.name }}">{{ field.label }}</label>
                          <input type="hidden" id="house_select" name="house" value="{{ prerequest.house.pk }}">
                          {{ field }}
                        </div>
                      </div>
                    {% else %}
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="{{ field.name }}">{{ field.label }}</label>
                          {{ field }}
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
            </div>
          </section>
          <section class="col-md-12">
            <div class="card card-outline card-info">
              <div class="card-header">
                <h5 class="card-title">DETALLE DE CONSUMO</h5>
              </div>
              <div class="card-body" id="detail_entry">
                <table id="det_uptake" class="table table-bordered table-striped" style="width:100%;">
                  <thead>
                    <tr>
                      <th width="10%">opciones</th>
                      <th>Material</th>
                      <th width="10%">Cantidad</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if prerequest.stock %}
                      {% for item in prdetail %}
                        <tr>
                          <td>
                            <button class="btn btn-danger deleteItem" title="Eliminar"> <i class="fas fa-times"></i> </button>
                          </td>
                          <td>
                            <input type="hidden" name="material_id[]" id="material_id" value="{{ item.lot.entry_detail.material.pk }}">
                            {{ item.lot.entry_detail.material.code }} // {{ item.lot.entry_detail.material.name }} - {{ item.lot.entry_detail.material.description }}
                          </td>
                          <td>
                            <input type="number" style="text-align: center;" class="form-control" name="amount[]" id="amount" value="0" max="{{ item.amount }}" onchange="validateRows();">
                          </td>
                        </tr>
                      {% endfor %}
                    {% else %}
                      {% for item in prdetail %}
                      <tr>
                        <td>
                          <button class="btn btn-danger deleteItem" title="Eliminar"> <i class="fas fa-times"></i> </button>
                        </td>
                        <td>
                          <input type="hidden" name="material_id[]" id="material_id" value="{{ item.material.pk }}">`
                          {{ item.material.code }} / {{ item.material.name }} - {{ item.material.description }}
                        </td>
                        <td>
                          <input type="number" style="text-align: center;" class="form-control" name="amount[]" id="amount" min="0" value="0" max="{{ item.amount }}" onchange="validateRows();">
                        </td>
                      </tr>
                      {% endfor %}
                    {% endif %}
                  </tbody>
                  <tfoot>
                    <tr>
                      <th colspan="2" style="text-align: right;">TOTAL MATERIALES</th>
                      <th>
                        <input type="number" id="total" style="text-align: center;" class="form-control total_material" min="0" value="0" readonly>
                      </th>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <div class="card-footer" id="actions">
                <button type="button" class="btn btn-danger"><i class="fas fa-times"></i> CANCELAR </button>
                <button type="submit" class="btn btn-primary float-right"><i class="fas fa-check"></i> GUARDAR  </button>
              </div>
            </div>
          </section>
        </div>
      </form>
    </div>
  </section>
{% endblock content %}

{% block scripts %}
  <script src="{% static 'assets/js/resources/uptake.js' %}"></script>
{% endblock %}