<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    @page {
      size: 8.5in 11in;
      margin: 1cm;
    }
    .format-number{
      font-weight: bold;
      text-align:right;
    }

    .info{
      font-size: 14px;
      line-height: 2.3;
    }
    .info > span{
      font-weight: bold;
    }

    #materials thead tr th {
      font-size: 14px;
      text-align:center;
      border-top:1px solid black;
      border-left: 1px solid black;
      border-right: 1px solid black;
      border-bottom:1px solid black;
      padding-top:4px;
    }

    #materials thead tr{
      margin-bottom:0;
      padding-bottom:0;
    }

    #materials tbody tr{
      font-size: 12px;
      text-align:center;
      border-top:1px solid black;
      border-left: 1px solid black;
      border-right: 1px solid black;
      border-bottom:1px solid black;
      padding:5px 5px 5px 5px;
    }

    #materials tfoot tr th {
      text-align:right;
      border:1px 1px 1px 1px solid black;
      padding:5px 5px 5px 5px;
    }
  </style>
</head>
<body>
  <p class="head"> 
    <div class="format-number"> SPS-988 </div>
    <h1 style="text-align: center;">CONSUMO DE DISPOSITIVOS DE FIJACIÓN INTERNA O EXTERNA Y 
    <br/>
    OTROS MATERIALES EN SALA DE OPERACIONES</h1>
  </p>
  <div class="info">
    <span>No. de presolicitud:</span><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ prequest.number }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
    <span>No. de quirófano:</span><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ uptake.operating_room }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
    <span>No. de hoja:</span><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ uptake.number }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
    <br>
    <span>Lugar y fecha:</span><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Quetzaltenango {{ uptake.date }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span>No. De afilicación:</span><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ prequest.patient.membership }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
    <br>
    <span>Nombres y apellidos del paciente:</span> <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ prequest.patient.first_name }} {{ prequest.patient.last_name }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
    <br>
    <span>Diagnóstico:</span> <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ prequest.diagnosis }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
    <br>
    <span>Procedimiento quirúrgico:</span> <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ prequest.procedure }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
    <br>
    <span>Cirujano:</span> <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ uptake.surgeon }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
    <br>
    <span>Instrumentista:</span> <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ uptake.instrumentalist }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span>Circulante:</span> <u>{{ uptake.circulating }}</u>
  </div>
  <br>
  <table id="materials">
    <thead>
      <tr>
        <th width="15%">CÓDIGO</th>
        <th width="70%">DESCRIPCIÓN</th>
        <th>CANTIDAD</th>
      </tr>
    </thead>
    <tbody>
      {% for item in detail %}
        <tr>
          <td>{{ item.material.code }}</td>
          <td>{{ item.material.name }} - {{ item.material.description }}</td>
          <td style="text-align:center;">{{ item.amount }}</td>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th colspan="2">Nombre de la casa comercial:</th>
        <th>{{ uptake.house }}</th>
      </tr>
    </tfoot>
  </table>
  <br/>
  <br/>
  <div class="info">
    <span>Observaciones:</span><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ prequest.comment }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
  </div>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <u>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </u>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <u>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </u>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <br/>
  <span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Firma de la/el circulante y sello del servicio
  </span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <span style="text-align: right;">Firma y sello del Cirujano</span>
</body>
</html>