{% extends 'admin.html' %}

{% load static %}

{% block content %}
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Tablero</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-info elevation-1"><i class="fas fa-tools"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Materiales</span>
              <span class="info-box-number">
                {{ materials }}
              </span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1"><i class="fas fa-file-medical"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Pre solicitudes completas</span>
              <span class="info-box-number">{{ prequests }}</span>
            </div>
          </div>
        </div>
        <div class="clearfix hidden-md-up"></div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-user-injured"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Pacientes</span>
              <span class="info-box-number">{{ patients }}</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-clinic-medical"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Casas médicas</span>
              <span class="info-box-number">{{ mhouses }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}