{% extends 'admin.html' %}

{% block content %}
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0" id="titleview">Ingreso de materiales</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'authentication:dashboard' %}">Tablero</a></li>
            <li class="breadcrumb-item active">Ingreso de materiales</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Listado de ingresos</h5>
              <a type="button" class="btn btn-primary float-right" href="{% url 'request:entry_create' %}"><i class="fas fa-plus"></i> Nuevo</a>
            </div>
            <div class="card-body">
              <table id="lists" class="table table-bordered table-hover table-striped" style="width:100%">
                <thead>
                  <tr>
                    <th>Código</th>
                    <th>Fecha de ingreso</th>
                    <th>Fecha de adjudicación</th>
                    <th>NOG</th>
                    <th>Casa médica</th>
                    <th>SIAF</th>
                    <th>PPR</th>
                    <th>Estado</th>
                    <th>Stock</th>
                    <th>Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in object_list %}
                    <tr>
                      <td>{{ item.entry_detail.entry.code }}</td>
                      <td>{{ item.entry_detail.entry.date }}</td>
                      <td>{{ item.entry_detail.entry.date_award }}</td>
                      <td>{{ item.entry_detail.entry.nog }}</td>
                      <td>{{ item.entry_detail.entry.house.name }}</td>
                      <td>{{ item.entry_detail.entry.siaf }}</td>
                      <td>{{ item.entry_detail.entry.ppr }}</td>
                      <td>{{ item.entry_detail.entry.status.name }}</td>
                      <td>{{ item.stock }}</td>
                      <td class="text-center">
                        <button class="btn btn-info"><i class="fas fa-eye"></i></button>
                        {% if item.entry_detail.entry.status.id != 17 %}
                          <button class="btn btn-danger" onclick="openModal(`{% url 'request:entry_inactive' item.entry_detail.entry.pk %}`)"><i class="fas fa-trash"></i></button>
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}