<div class="modal fade" id="modal_valide" style="display: none;" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Valide los datos ingresados</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Diagnóstico</label>
              <input type="text" id="v_diagnosis" class="form-control form-control-border"/>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Procedimiento</label>
              <input type="text" id="v_procedure" class="form-control form-control-border"/>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Servicio o sala</label>
              <input type="text" id="v_service" class="form-control form-control-border"/>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>No. de cama</label>
              <input type="text" id="v_bed" class="form-control form-control-border"/>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Fecha de operación</label>
              <input type="text" id="v_operation" class="form-control form-control-border"/>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Paciente</label>
              <input type="text" id="v_patient" class="form-control form-control-border"/>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Casa médica</label>
              <input type="text" id="v_mhouse" class="form-control form-control-border"/>
            </div>
          </div>
        </div>
        <hr />
        <label>Material(es)</label>
        <table id="v_details" class="table table-bordered table-striped" style="width:100%">
          <thead>
            <tr>
              <th>Material</th>
              <th>Cantidad</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn btn-danger"><i class="fas fa-times"></i> CANCELAR </button>
        <button type="submit" class="btn btn btn-primary" id="btn-validate-prequest"><i class="fas fa-save"></i> GUARDAR </button>
      </div>
    </div>
  </div>
</div>