  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Valide los datos ingresados</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="{{ option }}" method="get" >
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Diagnóstico</label>
                <input type="text" id="v_diagnosis" value="{{ prequest.diagnosis }}" readonly class="form-control form-control-border"/>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Procedimiento</label>
                <input type="text" id="v_procedure" value="{{ prequest.procedure }}" readonly class="form-control form-control-border"/>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Servicio o sala</label>
                <input type="text" id="v_service" value="{{ prequest.service }}" readonly class="form-control form-control-border"/>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>No. de cama</label>
                <input type="text" id="v_bed" value="{{ prequest.bed }}" readonly class="form-control form-control-border"/>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Fecha de operación</label>
                <input type="text" id="v_operation" value="{{ prequest.operation }}" readonly class="form-control form-control-border"/>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Paciente</label>
                <input type="text" id="v_patient" value="{{ prequest.patient }}" readonly class="form-control form-control-border"/>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Casa médica</label>
                <input type="text" id="v_mhouse" value="{{ prequest.house }}" readonly class="form-control form-control-border"/>
              </div>
            </div>
          </div>
          <hr />
          <label>Material(es)</label>
          <table id="v_details" class="table table-bordered table-striped" style="width:100%">
            <thead>
              <tr>
                <th>Material</th>
                <th>Cantidad</th>
              </tr>
            </thead>
            <tbody>
              
              {% if prequest.stock %}
                {% for item in detail %}
                  <tr>
                    <td>{{ item.lot.entry_detail.material.code }} / {{ item.lot.entry_detail.material.name }} - {{ item.lot.entry_detail.material.description }}</td>
                    <td>{{ item.amount }}</td>
                  </tr>
                {% endfor %}
              {% else %}
                {% for item in detail %}
                  <tr>
                    <td>{{ item.material.code }} / {{ item.material.name }} - {{ item.material.description }}</td>
                    <td>{{ item.amount }}</td>
                  </tr>
                {% endfor %}
              {% endif %}
                
            </tbody>
          </table>
          
          {% if more %}
            <div class="col-md-4">
              <div class="form-group">
                <label for="number_siaf">Número de SIAF</label>
                <input type="text" id="number_siaf" name="number_siaf" placeholder="Ingrese el número de SIAF" required class="form-control"/>
              </div>
            </div>
          {% endif %}
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn btn-danger"><i class="fas fa-times"></i> CANCELAR </button>
          <button type="submit" class="btn btn btn-primary" id="btn-validate-prequest"><i class="fas fa-save"></i> CONFIRMAR </button>
        </div>
      </form>
    </div>
  </div>